# Course is already complete, so the files won't be updated.
# No point in including in repository.
Intro to Programming/

# These files will be made when the package.json is installed and  # webpack is run, so they don't need to be hosted.
node_modules/
bundle.js
bundle.js.map
styles.css
styles.css.map

#Other courses that I'm not going to be continuing for now
Java Revature Course/
